.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    margin: 1rem 2rem;
    justify-content: center;
    border-radius: 2rem;
    place-items: center;
    border: 1px solid transparent;
    box-shadow: 2px 8px 2px var(--color-primary);
    transition: var(--transition);
}

.portfolio__item:hover{
    border: 1px solid var(--color-primary-variant);
    background: transparent
}

.portfolio__item-image{
    border-radius: 1rem;
    overflow: hidden;
    object-fit: contain;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


@media screen and (max-width:2000px) {
    .portfolio__container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem
    }
}

@media screen and (min-width:800px) and (max-width:1400px)  {
    .portfolio__container{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem
    }
}

@media screen and (max-width:799px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        
    }
}